<a href="https://colab.research.google.com/github/anshikaverma2411/Titanic-Survival-Prediction-Data-Science-Project/blob/main/Project_Titanic_Survival_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [22]:
# load the data from the CSV file into a Pandas DataFrame
file_id = "10B3TxL6FsVLbpv42YMdWp2S0ktV8V-OY"
download_link = f"https://drive.google.com/uc?id={file_id}"

titanic_data = pd.read_csv(download_link)

In [23]:
# printing the first five rows of the dataframe
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# to check the no of rows and columns
titanic_data.shape

(284, 4376)

In [ ]:
# getting some information about the data
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Columns: 4376 entries, <!doctype html><html lang="en-US" dir="ltr"><head><base href="https://accounts.google.com/v3/signin/"><meta name="referrer" content="origin"><style data-href="https://www.gstatic.com/_/mss/boq-identity/_/ss/k=boq-identity.AccountsSignInUi.-EdtPCIkpg4.L.X.O/am=DwgrInFsAMr_B0ABAAGAAgUAAAAAAAAAQKCBWEI/d=1/ed=1/rs=AOaEmlGvsNlJeMG_wx2yjUpA1MCgBkx-EA/m=identifierview to sans-serif;font-size:0.875rem;font-weight:500;font-weight:var(
dtypes: float64(1481), object(2895)
memory usage: 9.5+ MB

In [ ]:
# to check the no of missing values in each column
titanic_data.isnull().sum()

<!doctype html><html lang="en-US" dir="ltr"><head><base href="https://accounts.google.com/v3/signin/"><meta name="referrer" content="origin"><style data-href="https://www.gstatic.com/_/mss/boq-identity/_/ss/k=boq-identity.AccountsSignInUi.-EdtPCIkpg4.L.X.O/am=DwgrInFsAMr_B0ABAAGAAgUAAAAAAAAAQKCBWEI/d=1/ed=1/rs=AOaEmlGvsNlJeMG_wx2yjUpA1MCgBkx-EA/m=identifierview      1
_b                                                                                                                                                                                                                                                                                                                                                                              84
_tp" nonce="pwmSiCot3eoCOOMlPYqzgg">c-wiz{contain:style}c-wiz>c-data{display:none}c-wiz.rETSD{contain:none}c-wiz.Ubi8Z{contain:layout style}@-webkit-keyframes mdc-ripple-fg-radius-in{0%{-webkit-animation-timing-function:cubic-bezier(0.4                                                                                                                                   173
0                                                                                                                                                                                                                                                                                                                                                                              179
0.2                                                                                                                                                                                                                                                                                                                                                                            183
                                                                                                                                                                                                                                                                                                                                                                              ...
.XjS9D .BqKGqe{font-family:"Google Sans"                                                                                                                                                                                                                                                                                                                                       284
roboto.6                                                                                                                                                                                                                                                                                                                                                                       284
Noto Sans Myanmar UI.6                                                                                                                                                                                                                                                                                                                                                         284
arial.6                                                                                                                                                                                                                                                                                                                                                                        284
sans-serif;font-size:0.875rem;font-weight:500;font-weight:var(                                                                                                                                                                                                                                                                                                                 284
Length: 4376, dtype: int64

Handling the missing values

In [ ]:
# drop the "Cabin" column from the dataframe
titanic_data = titanic_data.drop(columns='Cabin', axis=1)

KeyError: ignored

In [ ]:
#replacing the missing values in "Age" column with mean value
titanic_data['Age'].fillna(titanic_data['Age'].mean(), inplace=True)

In [ ]:
#finding the mode value of "Embarked" column
print(titanic_data['Embarked'].mode())

In [ ]:
print(titanic_data['Embarked'].mode()[0])

In [ ]:
#replacing the missing values in "Embarked" column with mode value
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace=True)

In [ ]:
# to check the no of missing values in each column
titanic_data.isnull().sum()

Data Analysis

In [ ]:
# getting some statistical measures about the data
titanic_data.describe()

In [ ]:
# finding the number of people survived and not survived
titanic_data['Survived'].value_counts()

Data Visualization

In [ ]:
sns.set()

In [ ]:
# making a count plot for "Survived" column
sns.countplot(data=titanic_data, x="Survived")

In [ ]:
titanic_data['Sex'].value_counts()

In [ ]:
# making a count plot for "Sex" column
sns.countplot(data=titanic_data, x="Sex")

In [ ]:
# number of survivors Gender wise
sns.countplot(x='Sex', hue='Survived', data=titanic_data)

In [ ]:
# making a count plot for "Pclass" column
sns.countplot(data=titanic_data, x="Pclass")

In [ ]:
sns.countplot(x='Pclass', hue='Survived', data=titanic_data)

Encoding the Categorical Columns

In [ ]:
titanic_data['Sex'].value_counts()

In [ ]:
titanic_data['Embarked'].value_counts()

In [ ]:
# converting categorical Columns

titanic_data.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [ ]:
titanic_data.head()

Separating features and target

In [ ]:
X = titanic_data.drop(columns = ['PassengerId','Name','Ticket','Survived'],axis=1)
Y = titanic_data['Survived']

In [ ]:
print(X)

In [ ]:
print(Y)

Splitting the data into training data & Test data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

Model Training

Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the Logistic Regression model with training data
model.fit(X_train, Y_train)

Model Evaluation

Accuracy Score

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)

In [ ]:
print(X_train_prediction)

In [ ]:
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)
print('Accuracy score of training data : ', training_data_accuracy)

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)

In [ ]:
print(X_test_prediction)

In [ ]:
test_data_accuracy = accuracy_score(Y_test, X_test_prediction)
print('Accuracy score of test data : ', test_data_accuracy)